<html>
<head>
    <meta charset="UTF-8">
    <title>Popup окно-уведомление о принятии файлов Cookie</title>
	<link media="screen" href="demo/styles/demo.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="jquery.ihavecookies.js"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        $('body').ihavecookies({
            title: '&#x1F36A; Разрещить сайту принимать Cookie?',
            message: 'На этом сайте не используются файлы cookie, соглашаясь вы предоставите возможность принимать файли куки, или можете их настроить самостоятельно',
            delay: 600,
            expires: 1,
            link: '#privacy',
            onAccept: function(){
                var myPreferences = $.fn.ihavecookies.cookie();
                console.log('Yay! The following preferences were saved...');
                console.log(myPreferences);
            },
            uncheckBoxes: true,
            acceptBtnLabel: 'Соглашаюсь',
            moreInfoLabel: 'Больше информации',
            cookieTypesTitle: 'Выберите, файлы куки которые хотите принимать:',
            fixedCookieTypeLabel: 'Основное',
            fixedCookieTypeDesc: 'These are essential for the website to work correctly.'
        });

        if ($.fn.ihavecookies.preference('marketing') === true) {
            console.log('This should run because marketing is accepted.');
        }
    });
    </script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab|Quicksand:400,500" rel="stylesheet">
    <style type="text/css">

    </style>
</head>
<body>
 <!--Начало кода используемого для демонстрации -->
  <div id="controls">
<div align=right><a class="close" title="Закрыть" onclick="document.getElementById('controls').style.display='none';">X</a></div>
   <!-- Яндекс.Директ -->
<div id="yandex_ad"></div>
<script type="text/javascript">
(function(w, d, n, s, t) {
    w[n] = w[n] || [];
    w[n].push(function() {
        Ya.Direct.insertInto(84098, "yandex_ad", {
            ad_format: "direct",
            type: "240x400",
            border_type: "block",
            border_radius: true,
            site_bg_color: "FFFFFF",
            header_bg_color: "FEEAC7",
            bg_color: "FFF9F0",
            border_color: "FBE5C0",
            title_color: "0000CC",
            url_color: "006600",
            text_color: "000000",
            hover_color: "0066FF",
            favicon: true,
            no_sitelinks: false
        });
    });
    t = d.getElementsByTagName("script")[0];
    s = d.createElement("script");
    s.src = "//an.yandex.ru/system/context.js";
    s.type = "text/javascript";
    s.async = true;
    t.parentNode.insertBefore(s, t);
})(window, document, "yandex_context_callbacks");
</script>
</div>
<table cellpadding="0" cellspacing="0" id="demo_navi">
  <tr>
    <td width="220"><a href="/" rel="nofollow" ><div class="logo"><b><font color=#c3e425>RUDE</font>BOX</b></div></a></td><td width="45"><div class="demo">DEMO</div></td>
	<td style="text-overflow: ellipsis;"><a href="/popup-window-notification-about-accepting-cookies" class="go-bottom" rel="nofollow" ><div class="name">Popup окно-уведомление о принятии файлов Cookie</div></a></td>
  </tr>
</table>
</body>
</html>
